@media screen and (width < 636px) {
    :root {
        --preffered-distance: 5vw;
    }

    /* .navbar {
        padding-inline: var(--padding-inline);
    }

    .khero,
    section {
        --padding-inline: clamp(0.5rem, 5vw, 20rem);
    } */

    .khero-main {
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
        text-align: center;
        line-height: 1.7;
    }

    .khero-img {
        position: relative;
        rotate: 90deg;
    }
}

@media screen and (width < 900px) {
    .links {
        display: none;
    }

    .burger {
        display: inline;
    }
}