@media screen and (width < 636px) {
    :root {
        --preffered-distance: 5vw;
    }

    .navbar {
        padding-block: 1rem;
    }

    .khero-main {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        text-align: center;
        line-height: 1.7;
    }

    .lorem12 {
        font-size: 1em;
    }

    .lorem12::after {
        /* top: 50%; */
        left: 50%;
        translate: -50% 0%;
    }

    .khero-img {
        position: relative;
        rotate: 90deg;
    }
}

@media screen and (width < 900px) {
    .links {
        display: none;
    }

    .burger {
        display: inline;
    }
}