.coursesSection h1 {
    margin-block-end: 2rem;
}

.courses {
    display: grid;
    grid-template-columns: repeat(auto-fit, min(400px, 100%));
    column-gap: 5rem;
    row-gap: 2rem;
}

.course {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: hsl(var(--color-dark), 40%);
    backdrop-filter: blur(1rem);
    padding: 1rem;
    border-radius: 1rem;
}

.course img {
    width: 400px;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 1rem;
}

.courseDetails button {
    background-color: hsl(var(--color-blue));
    justify-self: flex-end;
    margin-block-start: 1rem;
    cursor: pointer;
}

.courseDetails {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    font-size: clamp(1.3rem, 2vw, 1.5rem);
}