.homepage {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.homepage>div {
    max-width: 50ch;
    font-size: 2rem;
}

.homepage h1 {
    color: hsl(var(--color-orange));
    font-family: 'Yesvera', serif;
    margin-block-end: 1rem;
}

.homepage a {
    color: hsl(var(--color-orange));
}

.kheroImg {
    min-width: 30rem;
}

@media screen and (max-width: 1000px) {
    .homepage {
        flex-direction: column;
        gap: 5rem;
    }

    .homepage>div {
        font-size: 1.5rem;
        text-align: center;
    }

    .kheroImg {
        max-width: 30rem;
    }
}