.wrapper {
    display: flex;
    gap: 1rem;
    min-width: 100vw;
    font-size: 1.5rem;
    height: 100%;
}

.wrapper>* {
    border-radius: 1rem;
    background-color: hsl(var(--color-black), 20%);
    backdrop-filter: blur(10rem);
    padding: 2rem;
}

@media screen and (max-width: 1000px) {
    .wrapper {
        flex-direction: column;
    }
}