.navbar {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    height: 100vh;
    height: 100svh;
    position: sticky;
    left: 0;
    top: 0;
}

.logo {
    font-family: "Yeseva One", serif;
    cursor: pointer;
    user-select: none;
    padding-inline: 2rem;
    color: hsl(var(--color-blue));
}

.explore {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    font-weight: 400;
}

.exploreHeading {
    padding: 1rem 2rem;
    cursor: default;
    font-size: 0.8em;
    text-transform: uppercase;
    color: hsl(var(--color-light), 60%);
    opacity: 0.7;
}

.exploreItem {
    padding: 1rem 2rem;
    border-radius: 1rem;
}

:global(.active) {
    background-color: hsl(var(--color-dim));
    color: hsl(var(--color-blue));
}