@media screen and (max-width: 600px) {
    .project-short-des {
        display: none;
    }

    .project-smol-thumbnail {
        min-width: 11rem;
    }
}

@media screen and (max-width: 950px) {
    .projects-page {
        display: grid;
        grid-template-rows: 4fr 1fr;
        grid-template-areas: "preview" "projects";
    }

    .projects {
        grid-area: projects;
        position: fixed;
        bottom: 0;
        left: 0;
        margin: 0;
        display: flex;
        min-width: 100vw;
        border-radius: 0;
    }

    .preview {
        grid-area: preview;
    }

    .active-preview-project-card {
        background-color: transparent;
    }

    .project-smol-thumbnail {
        max-width: 10rem;
    }

    .projects-page .project-card {
        flex-direction: row;
    }

    .projects-page .project-card {
        background-color: rgb(30, 30, 41);
        margin-inline: 1rem;
        min-width: 90vw;
        border: none;
    }
}