.projects-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1800px;
    max-height: 100vh;
    max-height: 100svh;
    overflow: hidden;
}

.projects-page {
    --sidebar-width: 300px;
    margin: 0;
    padding: 0;
    padding-block: 1rem;
    display: flex;
}

.preview {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 80rem;
    margin: 0 auto;
    text-align: center;
    overflow: auto;
}

.projects {
    min-width: var(--sidebar-width);
    max-width: var(--sidebar-width);
    border-radius: 1rem;
    background-color: #26282b;
    padding-inline: 1rem;
    margin-bottom: 6rem;
    overflow: auto;
}

.projects-page .project-card {
    background-color: transparent;
    margin-block: 0.5rem;
    width: 100%;
    cursor: pointer;
    border-bottom: 5px solid #1b1b1c;
}

.projects-page .project-card:hover {
    background-color: #2a2b2c;
}

.preview-project-tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    font-size: 0.7em;
}

.preview-project-tag-item {
    border-radius: 0.5rem;
    border: 1px solid gold;
    padding: 0.2rem 0.5rem;
    opacity: 0.7;
    cursor: pointer;
}

.preview-project-tag-item:hover {
    opacity: 1;
}

.project-preview-description {
    max-width: 70ch;
    margin: 0 auto;
}