@media screen and (width < 636px) {
    .links {
        display: none;
    }

    #khero-main {
        flex-direction: column;
        text-align: center;
        justify-content: center;
        gap: 2rem;
    }

    #khero-img {
        position: relative;
        rotate: 90deg;
    }
}

@media screen and (width < 800px) {
    .links {
        display: none;
    }
}