@media screen and (width < 636px) {
    .links {
        display: none;
    }

    #navbar {
        padding-block: 0.7rem;
    }

    #khero,
    section {
        --padding-inline: clamp(0.5rem, 5dvw, 20rem);
    }

    #khero-main {
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
        text-align: center;
        line-height: 1.7;
    }

    #khero-img {
        position: relative;
        rotate: 90deg;
    }
}

@media screen and (width < 900px) {
    @keyframes fadein {
        from {
            opacity: 0;
            translate: 0 -30rem;
        }

        to {
            opacity: 1;
            translate: 0;
        }
    }

    @keyframes fadeout {
        from {
            opacity: 1;
            translate: 0;
        }

        to {
            opacity: 0;
            translate: 0 -30rem;
        }
    }

    .links {
        display: none;
    }

    #burger {
        display: inline;
    }

    .mobile-navbar {
        --width: 20rem;
        --radius: 2rem;
        position: fixed;
        z-index: 1125;
        height: fit-content;
        width: var(--width);
        background-color: var(--color-bg-dhim-50);
        backdrop-filter: blur(11.25rem);
        font-size: 1.7rem;
        color: var(--color-text);
        display: none;
        place-content: center;
        text-align: center;
        border-radius: var(--radius);
    }

    .mobile-link-item {
        cursor: pointer;
        padding-block: 1rem;
        width: var(--width);
        border-bottom: 2px solid rgb(94, 94, 94);
    }

    .mobile-link-item:last-child {
        border-radius: var(--radius);
    }

    #navbar-close {
        background-color: transparent;
        color: #ff5b5b;
        font-size: 2em;
    }

    .fadein {
        animation: fadein 500ms ease forwards;
    }

    .fadeout {
        animation: fadeout 500ms ease forwards;
    }
}