html {
    color-scheme: dark;
    font-family: var(--main-font);
    font-size: 11.25px;
    line-height: 1.7;
}

body {
    color: var(--color-foreground);
}

section {
    min-height: 100dvh;
    padding-inline: var(--padding-inline);
    font-family: var(--da-other-font);
    font-size: 1.4rem;
    font-weight: 300;
    margin-block: 4rem;
}

#khero {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    background: radial-gradient(circle at top, #4d307646 10%, var(--color-bg) 90%);
}

#logo {
    cursor: pointer;
    font-size: clamp(1.2rem, 5dvw, 3rem);
}

#navbar {
    font-size: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: var(--padding-inline);
    background-color: var(--color-bg-dhim-50);
    backdrop-filter: blur(11.25rem);
    position: fixed;
    width: 100%;
    z-index: 90;
}

.mobile-navbar {
    display: none;
}

#burger {
    display: none;
    cursor: pointer;
    font-size: 0.6em;
}

.link-item {
    font-size: 0.5em;
    list-style: none;
}

.links {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
    text-transform: uppercase;
}

#khero-main {
    flex: 1;
    padding-inline: var(--padding-inline);
    display: flex;
    align-items: center;
    position: relative;
}

#khero-greeting {
    font-size: var(--main-heading-font-size);
    color: var(--color-theme);
    line-height: 1.45;
}

#khero-img {
    margin-right: var(--padding-inline);
    width: clamp(10rem, 25dvw, 30rem);
    position: absolute;
    right: 0;
}


#projects-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-heading {
    font-size: var(--section-heading-font-size);
    margin-block: clamp(3rem, 10dvw, 4rem);
    position: relative;
    width: fit-content;

    cursor: default;
    text-transform: uppercase;
}

.section-heading::after {
    content: '';
    background-color: var(--color-theme);
    width: 30%;
    border-radius: 0.5rem;
    height: 0.2rem;
    position: absolute;
    bottom: 15%;
    left: 50%;
    translate: -50% -50%;

    transition: width 300ms ease;
}

.section-heading:hover::after {
    width: 100%;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    align-items: flex-start;
}

.project-card {
    line-height: 1.5;
    width: clamp(29rem, 25dvw, 35rem);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--color-bg-dhim);
    color: var(--color-text-dhim);
    padding: 2rem;
    border-radius: 0.5rem;
    position: relative;

    transition: scale 300ms ease, color 300ms ease;
}

.project-card:hover {
    scale: 1.05;
    color: var(--color-foreground);
}

.project-title {
    margin-block-start: 1rem;
    height: fit-content;
}

.project-description {
    margin-block-end: 1.5rem;
}

.project-thumbnail {
    border-radius: 0.5rem;
}

.project-actions {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.project-try-btn {
    color: var(--color-text-dhim);
    background-color: var(--color-text-dark);
}

.project-try-btn:hover {
    background-color: var(--color-text-dhim);
    color: var(--color-text-dark);
}

#about-me-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about-me-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#story {
    max-width: 50ch;
    text-align: center;
}

#story-img {
    width: 20rem;
}

#project-preview-start-date {
    color: var(--color-text-dhim);
}
